





*.log

*.unsuccessfulbuild

*.lastbuildstate
*.tlog
*.cache

*.obj

*.manifest
*.exe
*.pdb
*.idb
*.ilk
*.lib
*.map
*.tmp
*.dmp
*.ipch
*.VC.db
*.VC.opendb
*.enc
/enc_temp_folder

*.sdf
*.opensdf
*.suo

/Debug





